name: lint-test-build-push
on:
  push:
    paths-ignore:
      - "**/*.md"
      - "renovate.json5"
    branches:
      - "**"
    tags:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
jobs:
  lint-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: check valid yml
        run: yq . *.yaml

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ">=1.25.0"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: latest

      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build -v ./...

      - name: Test with the Go CLI
        run: go test -v -race ./...

  build-push:
    needs: [lint-test]
    uses: libops/actions/.github/workflows/build-push.yml@main
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
